<!DOCTYPE html>
<html>
  <head>
    <title>J.C Ariyamethe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--google fonts link-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Mr+De+Haviland" rel="stylesheet">
    <%= render 'application/favicon' %>
  </head>

  <body>
    <%= render 'layouts/nav'%>

    <%= yield %>


    <%= render 'layouts/about'%>
    <%= render 'layouts/edu'%>
    <%= render 'layouts/work'%>
    <%= render 'layouts/portfolio'%>
    <%= render 'layouts/contact'%>
    <%= render 'layouts/blog'%>

  </body>
</html>
